.VSCodeCounter/

# .NET build outputs
bin/
obj/

# Visual Studio / Rider local files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE settings
.idea/
.vscode/

artifacts/

temp.md

temp/

node_modules/
